/* Link was pulled for a fix for Bulma select caret not populating within the box 
https://makandracards.com/rodrigo-manhaes/64663-get-rid-of-bulma-custom-select-caret-rendering */
select {
    -webkit-appearance: menulist !important;
    -moz-appearance: menulist !important;
  }
  
  .select select:not([multiple]) {
    padding-right: 0.5em !important;
  }
  
  .select:not(.is-multiple):not(.is-loading)::after {
    border: none !important;
  }

